:root {
    font-size: 18px;
    font-family: sans-serif;
   --white: #FFFFFF;
   --light-gray: #F2F2F2;
   --dark-gray: #888888;
   --black: #000000;
   --aqua: #008CF0;
   --carrot: #F36223;
   --dark--carrot: #DA4A0C;
   --darkest--carrot: #A93A09;
   --gold: #FFD017;
   --blue: #081658;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.wrapper {
  max-width: 1500px;
  margin: 80px auto 0;
}

.conteiner {
  padding: 0 50px;
  width: 100%;
  margin: 0 auto;
}
.hidden {
  display: none;
}

/* link */

.link {
  color: var(--aqua);
  text-decoration: none;
}
.link:hover {
  cursor: pointer;
  color: var(--carrot);
}
.link:active {
  color: var(--darkest--carrot);
}

/* button */

.button {
  padding: 8px 12px;
}
.item {
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
}
.item_selected {
  border: 2px solid var(--carrot);
}
.item:hover {
  cursor: pointer;
  background-color: var(--light-gray);
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white)
}
.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 80px;
}
.logo__title {
  display: inline-block;
  font-size: 44px;
}
.logo__title_carrot {
  color: var(--carrot);
}

/* icons */

.icon-wrapper {
  display: flex;
  gap: 20px;
  margin-right: 22px;
}
.heart-icon {
  position: relative;
}
.heart-icon_size {
  width: 50px;
  height: 50px;
}
.heart-icon_color {
  --heart-body: var(--white);
  --heart-outline: var(--dark-gray);
}
.basket-icon {
  position: relative;
}
.basket-icon_size {
  width: 50px;
  height: 50px;
}
.basket-icon_color {
  --basket-full: var(--dark-gray);
}

.icon-rate::before {
  content: attr(data-rate);
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 5px;
  font-size: 14px;
  line-height: 12px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--carrot);
  border-radius: 10px;
}

/* nav */

.nav {
  display: flex;
  flex-direction: row;
  padding: 8px 0px;
  gap: 4px;
  font-size: 16px;
}

/* product-name */

.product-name-wrapper {
  margin-bottom: 10px;
}
.product-name__title {
  padding: 0px 0px 20px;
  font-size: 32px;
}

/* product-photo */

.product-photo {
  display: flex;
  gap: 10px;
  height: 387px;
}
.product-photo__item {
  min-width: 0;
  height: 100%;
  object-fit: contain;
}

/* specifications */

.specifications {
  display: flex;
  gap: 100px;
}
.specifications-wrapper {
  margin-top: 30px;
}

/* content */

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* main-content */

.main-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-grow: 1;
}

/* collor-item */

.collor-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.collor-item__title {
  font-size: 16px;
}
.collor-list {
  display: flex;
  gap: 10px;
}

/* iphone-radio */

.radio-iphone {
  display: none;
}
.radio-iphone__label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
}
.radio-iphone__label:active {
  border: 1px solid var(--white);
  outline: 2px solid var(--darkest--carrot);
}
.radio-iphone__label:hover {
  background-color: var(--light-gray);
}
.radio-iphone:checked + label{
  border: 1px solid var(--white);
  outline: 2px solid var(--carrot);
}
.radio-iphone__img {
  height: 60px;
}

/* memory-configuration */

.memory-configuration__title {
  margin-bottom: 15px;
  font-size: 16px;
}
.memory-configuration__list {
  display: flex;
  gap: 10px
}
.memory-configuration__button {
  height: 39px;
  background: none;
  padding: 10px 20px;
  font-size: 16px;
}

/* radio btn */

.radio-memory {
  display: none;
}
.radio-memory__label {
  display: flex;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid var(--dark-gray);
  border-radius: 4px
}
.radio-memory__label:active {
  border: 1px solid var(--white);
  outline: 2px solid var(--darkest--carrot);
}
.radio-memory__label:hover {
  background-color: var(--light-gray);
}
.radio-memory:checked + label {
  border: 1px solid var(--white);
  outline: 2px solid var(--carrot);
}

/* specifications-item */

.specifications-item__title {
  margin-bottom: 15px;
  font-size: 16px;
}
.specifications-item__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}
.specifications-item__item {
  font-size: 16px;
  font-weight: 500;
}
.specifications-item__item::marker {
  color: var(--dark-gray);
  font-size: 20px;
}

/* description-item */

.description-item__title {
  font-size: 16px;
  margin-bottom: 15px;
}
.description-item__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.description-item__text {
  font-size: 16px;
  font-weight: 500;    
}

/* saidbar */

.saidbar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-shrink: 0;
  width: 420px;
}

/* price */

.price-block {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  background: var(--white);
  border: 1px solid var(--light-gray);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* heart */

.heart:hover {
  cursor: pointer;
}
.heart > svg {
  height: 30px;
  width: 30px;
}
.heart_color {
  --heart-body: var(--white);
  --heart-outline: var(--dark-gray);
}
.heart input[type=checkbox] {
  display: none;
}
.heart_color:hover {
  --heart-body: var(--white);
  --heart-outline: var(--dark--carrot);
}
.heart_color:active {
  --heart-body: var(--white);
  --heart-outline: var(--darkest--carrot);
}
.heart input[type=checkbox]:checked + .heart_color {
  --heart-body: var(--dark--carrot);
  --heart-outline: var(--dark--carrot);
}


/* heart */

.price__old-price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.price__old-price-value {
  font-size: 16px;
  font-weight: 500;
}
.old-price {
  text-decoration-line: line-through;
  color: var(--dark-gray);
}
.price__sale {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  background: var(--carrot);
  border-radius: 500px;
}
.price__sale-value {
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}
.price__new-price {
  font-size: 32px;
  font-weight: 500;

/* delivery */

}
.delivery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 20px;
  gap: 10px;
}
.delivery__title {
  font-weight: 400;
  font-size: 16px;
}
.delivery__title_bold {
  font-weight: bold;
}

/* price-btn */

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px 49px;
  background: var(--carrot);
  border: none;
  border-radius: 4px;
  font-size: 20px;
  color: var(--white);
}
.add-button:hover {
  cursor: pointer;
  background: var(--dark--carrot);
}
.add-button:active {
  background: var(--darkest--carrot);
}
.add-to-basket {
  background-color: var(--dark-gray);
}
.add-to-basket:hover {
  background-color: var(--dark-gray);
}
.add-to-basket:active {
  background-color: var(--dark-gray);
}
.basket::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/basket.svg");
  background-repeat: no-repeat;
}

/* ads */

.ads-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ads-block__title {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color:var(--dark-gray);
}
.ads-block__iframe {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ads {
  height: 300px;
  border: 1px dashed #ccc
}

/* reviews */

.reviews {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.reviews-title {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.reviews-title__text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviews-title__text_bold {
  font-size: 24px;
  font-weight: 700;
}
.reviews-title__text_color-gray {
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-gray);
}
.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.separator-wrapper {
  padding: 0 0 0 170px;
}
.separator {
  border-top: 1px dashed var(--dark-gray); 
}
.reviews-list__block {
  display: flex;
  gap: 30px;
}
.image-autor {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
.reviews-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reviews-content__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.reviews-content__title {
  font-size: 20px;
}
.reviews-content__score {
  width: 150px;
}
.reviews-content__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reviews-content__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}
.reviews-content__text_bold {
  font-weight: 700;
}

/* block-form */

.form {
  display: flex;
  justify-content: end;
}
.block-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.block-form__title {
  font-size: 16px;
}
.block-form__colomn {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 710px;
}
.block-form__row {
  display: flex;
  gap: 40px;
  height: 49px;
}
.block-form__name {
  flex-grow: 1;
}
.test {
  position: relative;
}
.error-input {
  position: relative;
}
.error-input::after {
  content: attr(data-error);
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  box-sizing: border-box;
  padding: 8px 20px;
  font-size: 12px;
  width: 100%; 
  background-color: var(--dark--carrot);
  color: var(--white);
}
.block-form__rate {
  flex-grow: 0;
}
.block-form__rate::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.block-form__textarea {
  height: 190px;
  resize: none;
}
.block-form__button {
  font-size: 16px;
  color: var(--white);
  background-color: var(--carrot);
  border: none;
  border-radius: 4px;
  width: fit-content;
  padding: 10px 20px;
}
.block-form__button:hover {
  cursor: pointer;
  background-color: var(--dark--carrot);
}
.block-form__button:active {
  background-color: var(--darkest--carrot);
}
.block-form__elem {
  border: 1px solid var(--dark-gray);
  padding: 15px 20px;
  font-size: 16px;
  color: var(--dark-gray);
  width: 100%;
  min-width: 175px;
}
.block-form__elem:hover {
  border: 1px solid var(--black);
}

/* compare-models */

.compare-models {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
}
.compare-models__title {
  font-size: 16px;
}
.compare-models__table {
  width: 100%;
	border-collapse: collapse;
}
.compare-models__tr:hover {
  background-color: var(--light-gray);
}
.compare-models__elem {
  border: 1px solid var(--dark-gray);
  padding: 10px;
}
.compare-models__td {
  border-left: 1px solid var(--dark-gray);
  border-right: 1px solid var(--dark-gray);
  padding: 10px;
}

/* footer */

.footer {
  background-color: var(--light-gray)
}
.footer__block {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__title {
  font-size: 14px;
}
.footer__title_bold {
  font-weight: 700;
}
.footer__title_carrot {
  color: var(--carrot);
}

@media (max-width: 1500px) {
  .compare-models {
    display: none;
  }
}

@media (max-width: 1500px) and (min-width: 1024px) {
  .conteiner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .product-photo {
    height: 272px;
    justify-content: space-around;
  }
  .specifications {
    gap: 40px;
  }
  .image-autor {
    height: 100px;
    width: 100px;
  }
  .block-form__colomn {
    width: 594px;
  }
  .saidbar {
    width: 360px;
  }
}