.specifications__title {
  margin-bottom: 15px;
  font-size: 16px;
}
.specifications__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}
.specifications__item {
  font-size: 16px;
  font-weight: 500;
}
.specifications__item::marker {
  color: var(--dark-gray);
  font-size: 20px;
}

@media (max-width: 1024px) {
  .specifications__title {
    font-size: 14px;
  }
  .specifications__item {
    font-size: 14px;
  }
  .specifications__list {
    padding-left: 20px;
  }
}