.reviews {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.reviewsTitle {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.reviewsTitle__text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviewsTitle__text_bold {
  font-size: 24px;
  font-weight: 700;
}
.reviewsTitle__text_colorGray {
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-gray);
}
.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.separatorWrapper {
  padding: 0 0 0 170px;
}
.separator {
  border-top: 1px dashed var(--dark-gray); 
}
.reviewsList__block {
  display: flex;
  gap: 30px;
}
.imageAutor {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
.reviewsContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reviewsContent__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.reviewsContent__title {
  font-size: 20px;
}
.reviewsContent__score {
  width: 150px;
}
.reviewsContent__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reviewsContent__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}
.reviewsContent__text_bold {
  font-weight: 700;
}
.reviewsContent__info_mobile {
  display: none;
}

@media (max-width: 1500px) {
  .imageAutor {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 1024px) {
  .reviewsTitle__text_bold {
    font-size: 20px;
  }
  .reviewsTitle__text_colorGray {
    font-size: 20px;
  }
  .reviewsList__block {
    flex-wrap: wrap;
    gap: 15px;
  }
  .separatorWrapper {
    padding: 0;
  }
  .reviewsContent__info_desctop {
    display: none;
  }
  .reviewsContent__info_mobile {
    display: flex;
    min-width: 100%;
  }
  .imageAutor {
    height: 60px;
    width: 60px;
  }
  .reviewsContent__score {
    width: 100px;
  }
  .reviewsList {
    gap: 61px;
  }
}