.compareModels {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
}
.compareModels__title {
  font-size: 16px;
}
.compareModels__table {
  width: 100%;
    border-collapse: collapse;
}
.compareModels__tr:hover {
  background-color: var(--light-gray);
}
.compareModels__elem {
  border: 1px solid var(--dark-gray);
  padding: 10px;
}
.compareModels__td {
  border-left: 1px solid var(--dark-gray);
  border-right: 1px solid var(--dark-gray);
  padding: 10px;
}

@media (max-width: 1500px) {
  .compareModels {
    display: none;
  }
}