.description__title {
  font-size: 16px;
  margin-bottom: 15px;
}
.description__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.description__text {
  font-size: 16px;
  font-weight: 500;    
}

@media (max-width: 1024px) {
  .description__title {
    font-size: 14px;
  }
  .description__text {
    font-size: 14px;    
  }
}