.footer {
  background-color: var(--light-gray)
}
.footer__block {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__title {
  font-size: 14px;
}
.footer__title_bold {
  font-weight: 700;
}
.footer__title_carrot {
  color: var(--carrot);
}
.footer__title {
  display: block;
}
.footer__titleMain {
  display: block;
}

@media (max-width: 1024px) {
  .footer__block {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .footer__title {
    display: inline;
  }
}