.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  font-size: 16px;
}