.header {
  background-color: var(--white)
}
.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 80px;
}
.logo {
  display: flex;
  gap: 6px;
}
.logo__img {
  height: auto;
}
.logo__title {
  display: inline-block;
  font-size: 44px;
}
.logo__title_carrot {
  color: var(--carrot);
}
.iconWrapper {
  display: flex;
  gap: 20px;
  margin-right: 22px;
}
.heartIcon {
  position: relative;
}
.heartIcon_size {
  width: 50px;
  height: 50px;
}
.heartIcon_color {
  --heart-body: var(--white);
  --heart-outline: var(--dark-gray);
}
.basketIcon {
  position: relative;
}
.basketIcon_size {
  width: 50px;
  height: 50px;
}
.basketIcon_color {
  --basket-full: var(--dark-gray);
}
.iconRate::before {
  content: attr(data-rate);
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 5px;
  font-size: 14px;
  line-height: 12px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--carrot);
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .heartIcon_size {
    width: 30px;
    height: 30px;
  }
  .basketIcon_size {
    width: 30px;
    height: 30px;
  }
  .iconWrapper {
    gap: 10px;
    margin-right: 0;
  }
  .iconRate::before {
    content:'';
    padding: 0;
    width: 10px;
    height: 10px;
  }
  .logo__title {
    font-size: 32px;
  }
  .logo__img {
    height: 31px;
  }
  .logo {
    gap: 8px;
  }
  .header__items {
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}