.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-shrink: 0;
  width: 420px;
}
.priceBlock {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  background: var(--white);
  border: 1px solid var(--light-gray);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.priceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.heart:hover {
  cursor: pointer;
}
.heart > svg {
  height: 30px;
  width: 30px;
}
.heart_color {
  --heart-body: var(--white);
  --heart-outline: var(--dark-gray);
}
.heart input[type=checkbox] {
  display: none;
}
.heart_color:hover {
  --heart-body: var(--white);
  --heart-outline: var(--dark--carrot);
}
.heart_color:active {
  --heart-body: var(--white);
  --heart-outline: var(--darkest--carrot);
}
.heart input[type=checkbox]:checked + .heart_color {
  --heart-body: var(--dark--carrot);
  --heart-outline: var(--dark--carrot);
}
.price__oldPrice {
  display: flex;
  align-items: center;
  gap: 10px;
}
.price__oldPriceValue {
  font-size: 16px;
  font-weight: 500;
}
.oldPrice {
  text-decoration-line: line-through;
  color: var(--dark-gray);
}
.price__sale {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  background: var(--carrot);
  border-radius: 500px;
}
.price__saleValue {
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}
.price__newPrice {
  font-size: 32px;
  font-weight: 500;
}
.delivery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 20px;
  gap: 10px;
}
.delivery__title {
  font-weight: 400;
  font-size: 16px;
}
.delivery__title_bold {
  font-weight: bold;
}
.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px 49px;
  background: var(--carrot);
  border: none;
  border-radius: 4px;
  font-size: 20px;
  color: var(--white);
}
.addButton:hover {
  cursor: pointer;
  background: var(--dark--carrot);
}
.addButton:active {
  background: var(--darkest--carrot);
}
.addButton_active {
  background-color: var(--dark-gray);
}
.addButton_active:hover {
  background-color: var(--dark-gray);
}
.addButton_active:active {
  background-color: var(--dark-gray);
}
.basket::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("./../../images/PageProduct/Buttons/basket.svg");
  background-repeat: no-repeat;
}
.adsBlock {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.adsBlock__title {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color:var(--dark-gray);
}
.adsBlock__iframe {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ads {
  height: 300px;
  border: 1px dashed #ccc
}

@media (max-width: 1500px) {
  .sidebar {
    width: 360px;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    width: 338px;
  }
  .adsBlock {
    display: none;
  }
  .delivery {
    padding: 0;
  }
  .addButton {
    font-size: 16px;
  }
}