:root {
    font-size: 18px;
    font-family: sans-serif;
   --white: #FFFFFF;
   --light-gray: #F2F2F2;
   --dark-gray: #888888;
   --black: #000000;
   --aqua: #008CF0;
   --carrot: #F36223;
   --dark--carrot: #DA4A0C;
   --darkest--carrot: #A93A09;
   --gold: #FFD017;
   --blue: #081658;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
a {
  color: inherit;
  text-decoration: none;
}
.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.productWrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.wrapper {
  width: 100%;
  max-width: 1500px;
  margin: 80px auto 0;
}
.conteiner {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  margin: 0 auto;
}
.button {
  padding: 8px 12px;
}
.item {
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
}
.itemSelected {
  border: 2px solid var(--carrot);
}
.item:hover {
  cursor: pointer;
  background-color: var(--light-gray);
}
.productNameWrapper {
  margin-bottom: 10px;
}
.specifications {
  display: flex;
  gap: 100px;
}
.specificationsWrapper {
  margin-top: 30px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.productContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-grow: 1;
}

@media (max-width: 1500px) and (min-width: 1024px) {
  .conteiner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .specifications {
    gap: 40px;
  }
}

@media (max-width: 1024px) {
  .conteiner {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* .wrapper {
    margin-top: 63px;
  } */
  .productNameWrapper {
    margin-bottom: 20px;
  }
  .specifications {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
  .content {
    width: 100%;
    gap: 40px;
  }
}