.productPhoto {
  display: flex;
  gap: 10px;
  height: 387px;
}
.productPhoto__item {
  min-width: 0;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 1500px) {
  .productPhoto {
    height: 272px;
    justify-content: space-around;
  }
}

@media (max-width: 1024px) {
  .productPhoto {
    width: fit-content;
  }
}