.form {
  display: flex;
  justify-content: end;
}
.blockForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.blockForm__title {
  font-size: 16px;
}
.blockForm__colomn {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 710px;
}
.blockForm__row {
  display: flex;
  gap: 40px;
  height: 49px;
}
.blockForm__text {
  flex-grow: 1;
}
.errorLable {
  position: relative;
}
.errorLable::after {
  content: attr(data-error);
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  box-sizing: border-box;
  padding: 8px 20px;
  font-size: 12px;
  width: 100%; 
  background-color: var(--dark--carrot);
  color: var(--white);
}
.errorInput {
  border-color: var(--dark--carrot) !important;
}
.blockForm__number {
  flex-grow: 0;
}
.blockForm__number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.blockForm__textarea {
  height: 190px;
  resize: none;
}
.blockForm__button {
  font-size: 16px;
  color: var(--white);
  background-color: var(--carrot);
  border: none;
  border-radius: 4px;
  width: fit-content;
  padding: 10px 20px;
}
.blockForm__button:hover {
  cursor: pointer;
  background-color: var(--dark--carrot);
}
.blockForm__button:active {
  background-color: var(--darkest--carrot);
}
.blockForm__elem {
  border: 1px solid var(--dark-gray);
  padding: 15px 20px;
  font-size: 16px;
  color: var(--dark-gray);
  width: 100%;
  min-width: 175px;
}
.blockForm__elem:hover {
  border: 1px solid var(--black);
}

@media (max-width: 1500px) and (min-width: 1024px) {
  .blockForm__colomn {
    width: 594px;
  }
}

@media (max-width: 1024px) {
  .blockForm__elem {
    min-width: auto;
  }
  .blockForm__colomn {
    width: 100%;
    gap: 15px;
  }
  .blockForm {
    width: 100%;
  }
  .blockForm__row {
    flex-direction: column;
    height: auto;
    gap: 15px;
  }
}