.memoryConfiguration__title {
  margin-bottom: 15px;
  font-size: 16px;
}
.memoryConfiguration__list {
  display: flex;
  gap: 10px
}
.memoryConfiguration__button {
  height: 39px;
  background: none;
  padding: 10px 20px;
  font-size: 16px;
}
.radioMemory {
  display: none;
}
.radioMemory__label {
  display: flex;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid var(--dark-gray);
  border-radius: 4px
}
.radioMemory__label:active {
  border: 1px solid var(--white);
  outline: 2px solid var(--darkest--carrot);
}
.radioMemory__label:hover {
  background-color: var(--light-gray);
}
.radioMemory:checked + label {
  border: 1px solid var(--white);
  outline: 2px solid var(--carrot);
}

@media (max-width: 1024px) {
  .memoryConfiguration__title {
    font-size: 14px;
  }
}