.collorItem {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.collorItem__title {
  font-size: 16px;
}
.collorList {
  display: flex;
  gap: 10px;
}
.radioIphone {
  display: none;
}
.radioIphone__label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
}
.radioIphone__label:active {
  border: 1px solid var(--white);
  outline: 2px solid var(--darkest--carrot);
}
.radioIphone__label:hover {
  background-color: var(--light-gray);
}
.radioIphone:checked + label{
  border: 1px solid var(--white);
  outline: 2px solid var(--carrot);
}
.radioIphone__img {
  height: 60px;
}

@media (max-width: 1024px) {
  .collorList {
    flex-wrap: wrap;
  }
  .radioIphone__label {
    width: 60px;
    height: 60px;
  }
  .radioIphone__img {
    height: 50px;
  }
  .collorItem__title {
    font-size: 14px;
  }
}